db/
.DS_Store
/models
/cfgs
__pycache__
/output
/tmp
/indices
simple/wine-price-app/packages/csv-agent/wine_data/*.faiss
simple/wine-price-app/packages/csv-agent/wine_data/*.pkl
*.pkl
*.pt
assets/images/receipt
token.json
.chainlit
chainlit.md